*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-size: 3.12em;
    background-color: rgb(109, 7, 41);
}
#img1{
    display:flex;
    position: absolute;
    top: 2px;
    left:16px;
    max-width: 25%;
}
 #img2{
    display:flex;
    position: absolute;
    bottom: 2px;
    right:16px;
    max-width: 28%;
    max-height: 70%;
}  
.box1 {
    width: 60%;
    max-width: 35.8em;
    padding: 3em 1.53m;
    background-color: olive;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
}
.box1 img{
    display: block;
    height: 25em;
    max-width: 80%;
    margin: 0 auto 1em auto;
}
.box1 h3{
    display: block;
    font-size: 1em;
    margin:0.5em auto 2em auto;
    width: 70%;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    color: black;
    letter-spacing: 0.03em;
}

.box1 button{
    display: block;
    margin: 0 auto;
    font-size: 1.2em;
    padding: 0.8em 2em;
    border-radius: 2em;
    background-color: #097474;
    border: none;
    outline: none;
    color: antiquewhite;
    cursor: pointer;
}

@media screen and(max-width: 600px){
    .container{
        font-size: 14px;
    }
}
    
